* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.nav-bar {
}

ul {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #dddd;
    
    }
    li {
        padding: 12px 15px;
    
    }


li:hover {
    background-color:#16be9d;
    ;
}

li a {
    text-decoration: none;
    color: black;
}
thead tr {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.40cm;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-weight: bold;
    background-color: #16be9d;
           
        }
        tbody td, 
        thead th, 
        tbody tr {
            padding: 12px 15px;   
            border-bottom: 1px solid #dddd;
            text-align: center;
            border-radius: 5px 5px 0 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
